
button[type="submit"] {
    background-color: #c8d9b9;
    transition: background-color .4s
}

    button[type="submit"]:hover {
        background-color: #729e49;
    }



.error {
    color: red;
    margin-left: 7px;
    display: block;
}

