
button[type="submit"] {
    background-color: #99b97c;
    transition: background-color .4s
}
    button[type="submit"]:hover {
        background-color: #c8d9b9;
    }

.form-check-input:checked {
    background-color: #c8d9b9 !important;
    border-color: #99b97c !important;
}
.form-check-input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem #c5d4b8d4;
}