/*    //data-table*/
.create-data span {
    background-color: #729e49;
    transition: background-color .4s
}

.data-table-parent::-webkit-scrollbar {
    height: 3px;
}

.data-table-parent::-webkit-scrollbar-thumb {
    background-color: #c8d9b9;
    border-radius: 10px;
    border: 1px solid #aaeb70;
    cursor: pointer;
}


.title-table {
    background-color: #c8d9b9 !important;
}
    .title-table th {
        border-right: 1px solid #8080804d;
    }
.data-table tr:nth-child(2n+1) {
    background-color: #c8d9b96b;
    
}
.data-table tr:nth-child(2n+1) td {
   border-color:transparent!important;
}
.function-data span{
cursor:pointer;
}