.detail-profile i {
   cursor:pointer;
}
.detail-profile h1 {
    font-size: 38px!important;
    line-height: 16px!important;
}
    .detail-profile h1 span {
        font-size: 14px;
        color: #80808085;
        font-weight:500;
    }
.profile-page .avatar img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.social span{
    width:40px;
 }
.judge h1{
    font-size:20px!important;
}
.image-file {
    max-width: 150px;
}

    .image-file img {
        object-fit: cover;
    }

.image-file .closeButton {
    cursor: pointer;
}