
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 16px;
    color: #414B5B;
    line-height: 24px;
}

    body a {
        text-decoration: none;
        color: #414B5B;
    }

    body h1 {
        font-weight: 700 !important;
        font-size: 32px !important;
        line-height: 48px !important;
    }


.left-navbar {
    transition: max-width .3s;
    background-color: gray;
    color: #CCCCCC;
    overflow-y: scroll;
    height: 100vh;
    max-width: 210px;
    scroll-behavior: smooth;
}


    .left-navbar::-webkit-scrollbar {
        width: 4px;
    }

    .left-navbar::-webkit-scrollbar-thumb {
        background-color: #c8d9b9;
        border-radius: 10px;
        border: 1px solid #aaeb70;
        cursor:pointer;
    }

    .left-navbar a {
        color: #CCCCCC!important;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
    }

.navbar-logo img {
    max-width: 30px;
}

.left-navbar-click {
    max-width: 75px;
    overflow-y:visible;
}

    .left-navbar-click .navbar-logo span {
        display: none;
    }

    .left-navbar-click .click-menu-bar {
        text-align: center;
        margin: 0 !important;
        
    }

        .left-navbar-click .click-menu-bar .function {
         
            position: relative;
            padding: 8px 0;
        }

        .left-navbar-click .click-menu-bar h4 {
            display: none;
        }

        .left-navbar-click .click-menu-bar a {
            font-size: 23px;
        }

            .left-navbar-click .click-menu-bar a span {
                position: absolute;
                top: 0px;
                left: 75px;
                width: 230px;
                padding: 9px 55px 9px 10px;
                display: none;
                transition: background-color .3s;
            }

        .left-navbar-click .click-menu-bar .function:hover {
            background-color: #c8d9b9;
        }

            .left-navbar-click .click-menu-bar .function:hover a {
                color: white;
            }

        .left-navbar-click .click-menu-bar .function:hover a span {
            display: unset;
            background-color: #c8d9b9;
        }

.hidden-left-navbar{
    max-width:0;
}
.active-title{
    color:#FFF;
    font-weight:700
}
/*top-nav-bar*/
.bars-icon {
    cursor: pointer;
}

.account {
    border-right: 1px solid #80808059;
    border-left: 1px solid #80808059;
    background-image: linear-gradient(260deg,#c2e59c, #64b3f4);
    max-width:200px
}

    .account img {
        height: 40px;
        width: 40px;
        object-fit: cover;
    }
.user-name{
    max-width:100px
}




.icon-close{
    cursor:pointer
}
/*modal*/
.modal-header {
    background-color: #c8d9b9
}
.modal-footer a {
    background-color:#99b97c;
    transition: background-color .4s
}
    .modal-footer a:hover {
        background-color: #c8d9b9;
    }

/*style input*/
.form-check-input:checked {
    background-color: #c8d9b9 !important;
    border-color: #99b97c !important;
}

.form-check-input:focus {
    border-color: #729e49 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem #c5d4b8d4;
}

.form-control:focus {
    box-shadow: 0 0 0 .25rem #c5d4b8d4;
    border-color: #99b97c !important;
}
.link-light {
    color: #CCCCCC !important;
}
.dropdown-toggle::after {
    display: none!important;
}

    @media only screen and (max-width: 992px) {
        .left-navbar{
        position:absolute;
        z-index:1000;
    }
}