.content-verification {
    height: 100vh;
    background-color: #c8d9b9;
}

.body-content {
    max-width: 500px;
}

.verification p {
    width: 28px;
    height: 36px;
}
.error {
    color: red;
    margin-left: 3px;
}