
@{
    Layout = null;
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="temp-alert alert alert-success position-absolute w-50 text-center" style="left:25%;">@TempData["SuccessMessage"]</div>

}
@if (TempData["ErrorMessage"] != null)
{
    <div class="temp-alert alert alert-danger position-absolute w-50 text-center" style="left:25%;">@TempData["ErrorMessage"]</div>

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng Nhập</title>
    <link href="~/Conten/lib/fontAwesome/fontawesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/lib/fontAwesome/all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/sign-form.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/sign-in.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class=" d-flex align-items-center body-content">
        <div class="container bg-white body-form shadow-lg rounded h-100 ">
            <div class="logo text-center my-4">
                <a href="~/home/index">
                    <img src="~/Content/img/logo.png" />
                </a>
                <h1 class="mt-4">Đăng nhập</h1>
            </div>
            <div class=" sign-in">
                <form id="sign-in-form" action="~/login/signin" method="post" class="needs-validation" novalidate>
                    <input data-val="true" data-val-required="The type field is required." name="Type" type="hidden" value="signIn">
                    <div class=" mb-3">
                        <label for="email" class="ms-1 mb-2">Email</label>
                        <input type="email" class="form-control" id="email" name="Email" placeholder="Vui lòng nhập Email">
                    </div>
                    <div class=" mb-3">
                        <label for="password" class="ms-1 mb-2">Mật khẩu</label>
                        <div class="position-relative">
                            <input type="password" class="form-control password" id="password" name="Password" placeholder="Vui lòng nhập mật khẩu">
                            <i class="fa-solid fa-eye-slash position-absolute visible-pass"></i>
                        </div>
                    </div>

                    <div class="d-grid gap-2 mt-4">
                        <button class="btn btn-outline-success" type="submit">Đăng nhập</button>
                    </div>
                    <div class="mt-4 d-flex justify-content-between align-items-center ">
                        <div class="different-solution">
                            <span>Bạn chưa có tài khoản ?<a href="~/login/signup" class="link-success text-decoration-none">Đăng ký</a></span>
                        </div>
                        <div class="different-solution">
                            <p class="link-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">Quên mật khẩu?</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Quên mật khẩu </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="form-edit-profile" action="~/login/signin" method="post" class="needs-validation" novalidate >
                    <div class="modal-body">

                        <input class="form-control text-box single-line" data-val="true" data-val-required="The type field is required." id="Type" name="Type" type="hidden" value="avatar">

                        <div>
                            <label for="avatar">Chọn email bạn cần tìm kiếm</label>
                            <input type="text" id="email" class="form-control" name="Email" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Content/lib/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Content/lib/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Content/lib/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/Scripts/sign-in.js"></script>
</body>
</html>
