@model Dtos.ContactCreateDto
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
@section linkCss{
    <link href="~/Areas/User/Content/css/detailContact.css" rel="stylesheet" type="text/css" />
}
<div class="detail">
    <div class="container  mt-5">
        <div class="title d-flex justify-content-between align-items-center">
            <h2>Detail Contact</h2>
            <span class="btn btn-success me-3"><a class="text-light fs-5" href="~/User/Contact/edit?id=@Model.ContactID">Sửa</a></span>
        </div>
        <div class="content-detail rounded  border p-5  mt-4">
            <div class="d-flex flex-column flex-md-row align-items-center">
                <div class="avatar ">
                    @{
                        var avatarUrl = Model.Avatar != null && Model.Avatar.Length > 0
                            ? "data:image/png;base64," + Convert.ToBase64String(SessionConfig.GetUser().Avatar)
                            : Url.Content("~/Content/img/logo.png");
                    }
                    <img class="rounded-circle"
                         src="@avatarUrl" alt="avatar">
                </div>
                <div class="infor ms-0 ms-md-4 w-100">
                    <h2 class="  ms-0 ms-md-3 text-center text-md-start mt-md-0 mt-2 text-wrap">@Model.FullName</h2>
                    <!-- 26 -->
                    <div class="flex-wrap  mt-4 detail-contact d-flex justify-content-start align-items-center flex-column flex-md-row">
                        <div class="phone-number mt-md-2 mt-0  ms-0 ms-md-3 contact">
                            <p>PhoneNumber</p>
                            <h3><a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a></h3>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.Email))
                        {
                            <div class="email mt-md-2 mt-3 ms-0 ms-md-3 contact">
                                <p>Email</p>
                                <h3><a href="mailto:@Model.Email">@Model.Email</a></h3>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.Address))
                        {
                            <div class="address mt-md-2 mt-3 ms-0 ms-md-3 contact">
                                <p>Address</p>
                                <h3>Số nhà 26,đường honagd chung tổ 18 phường đông mai hà đông hà nội</h3>
                            </div>
                        }
                    </div>

                </div>
            </div>
            <div class="role d-flex justify-content-center justify-content-md-start flex-wrap mt-3">
                @foreach (var item in Model.GroupNames)
                {
                    <div class="tag ms-2 mt-2">
                        <button class="btn btn-outline-success fst-italic" disabled>#@item</button>
                    </div>
                    
                }
            </div>
        </div>

    </div>

</div>
