<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Conten/lib/fontAwesome/fontawesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/lib/fontAwesome/all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/site.css" rel="stylesheet" type="text/css" />
    @RenderSection("linkCss", required: false)
</head>
<body>
    <div class="content">
        <div class="fixed-top header bg-light bg-gradient shadow-sm">
            <div class="navbar">
                <nav class="container ">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <a class="navbar-brand d-flex align-items-center">
                            <img src="~/Content/img/logo.png" alt="Logo" class=logo>
                            <span class="ms-1 text-body-tertiary ">NVH</span>
                        </a>
                        <div class="btn-login">
                            <a href="~/login/signin"><span class="sign-in btn btn-outline-success me-1 ">Đăng nhập</span></a>
                            <a href="~/login/signup"><span class="sign-up btn btn-success d-none d-sm-inline-block ">Tạo tài khoản</span></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="body-content ">
            @RenderBody()
        </div>
        <footer class="shadow bg-light bg-gradient">
            <div class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4  container">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                        <img src="~/Content/img/logo.png" alt="Logo" class="logo">
                    </a>
                    <span class="mb-3 mb-md-0 text-body-secondary">&copy; NVH</span>
                </div>

                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3"><a class="text-body-secondary link-light btn btn-outline-success rounded-circle" href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                    <li class="ms-3"><a class="text-body-secondary link-light btn btn-outline-success rounded-circle" href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="ms-3"><a class="text-body-secondary link-light btn btn-outline-success rounded-circle" href="#"><i class="fa-brands fa-facebook"></i></a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="~/Content/lib/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Content/lib/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Content/lib/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/Scripts/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>