
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchUser</title>
    <link href="~/Conten/lib/fontAwesome/fontawesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/lib/fontAwesome/all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/User/Content/css/site-verification-pass.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/User/Content/css/search-user-verification.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="temp-alert alert alert-danger position-absolute w-50 text-center" style="left:25%;">@TempData["ErrorMessage"]</div>

    }
    <div class=" content-search d-flex align-items-center">
        <div class="body-content bg-white border container rounded pb-4 ">
            <div class="title-search mt-3">
                <h4>Tìm kiếm tài khoản</h4>
            </div>
            <hr />
            <div class="body-search">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" data-bs-target="#exampleModal" data-bs-toggle="modal"
                       data-bs-whatever="PhoneNumber">Tìm kiếm bằng số điện thoại</a>
                    <a href="#" class="list-group-item list-group-item-action" data-bs-target="#exampleModal" data-bs-toggle="modal"
                       data-bs-whatever="Email">Tìm kiếm bằng email</a>
                </div>
            </div>
            
        </div>
        <div class="modal fade" id="exampleModal" aria-hidden="true" aria-labelledby="exampleModalLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Tìm kiếm </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="search-form" action="SearchUser" method="post">
                        <div class="modal-body">
                            <input class="form-control text-box single-line" data-val="true"
                                   data-val-required="The type field is required." id="Type" name="Type" type="hidden" value="email">
                            <div>
                                <label for="inputUser"></label>
                                <input type="text" id="inputUser" class="form-control" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <script src="~/Content/lib/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Content/lib/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Content/lib/Scripts/jquery.validate.min.js"></script>
    <script src="~/Areas/User/Content/script/search-user-verification.js"></script>
</body>
</html>
